{% do assets.addJs('https://maps.googleapis.com/maps/api/js' ~ apikeystring, {'priority': 25, 'group': 'bottom'}) %}
{% do assets.addDeferJs('plugin://google-maps/js/google-maps.js' ~ apikeystring, {'priority': 25, 'group': 'bottom'}) %}
<div id="map-{{ hash }}" class="google-map" style="width: {{ width }}; height: {{ height }}"
     data-lat="{{ lat }}"
     data-lng="{{ lng }}"
     data-zoom="{{ zoom }}"
     data-scrollwheel="{{ scrollwheel }}"
     data-draggable="{{ draggable }}"
     data-pancontrol="{{ pancontrol }}"
     data-iconurl="{{ iconurl }}"
     data-infowindow="{{ infowindow }}">
</div>